{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 major versions",
            "not ie < 11",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}