{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 major versions",
            "not ie < 11",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              }
            ]
          }
        ]
      ]
    }
  }
}
