{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack/config.dev.js"
            }
        }
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "prettier"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "react/jsx-filename-extension": 0,
        "react/forbid-prop-types": 0,
        "linebreak-style": 0,
        "prettier/prettier": [
            1,
            {
                "singleQuote": true,
                "printWidth": 100
            }
        ],
        "react/prop-types": [
            1,
            {
                "ignore": [
                    "children",
                    "location",
                    "match",
                    "intl",
                    "history"
                ]
            }
        ],
        "radix": [
            1,
            "as-needed"
        ]
    }
}