@import '~styles/variables.scss';

.sign-in-form {
  padding: $container-padding;
  min-width: 600px;

  form {
    display: flex;
    flex-direction: column;
  }
  .login-input, .password-input {

    &:not(:first-child) {
      margin-top: 10px;
    }

    max-width: 300px;
    min-width: 300px;
    margin: auto;
  }

  .submit-button {
    margin-top: 30px;
  }
}