@import '~styles/variables.scss';


.sign-in-form, .sign-up-form {
  min-width: 600px;

  display: flex;
  flex-direction: column;
  margin-top: 30px;

  //.login-input, .password-input {
  //
  //  &:not(:first-child) {
  //    margin-top: 10px;
  //  }
  //
  //  max-width: 300px;
  //  min-width: 300px;
  //  margin: auto;
  //}
  //
  .submit-button {
    margin-top: 30px;
  }
}