@import '~styles/mixins';

$drawer-width: 230px;
$app-bar-height: 50px;

.main-layout {
  flex-grow: 1;
  height: 100%;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;

  .app-bar {
    display: flex;
    align-items: stretch;

    .toolbar {
      min-height: $app-bar-height;
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: space-between;
      .page-tittle {
        font-weight: normal;
        font-size: 1.2rem;
        margin: auto 0;
      }
      button {
        margin: 0;
        height: $app-bar-height;
      }
      .left-content {
        display: flex;
      }
    }

    &.without-left-button {
      .page-tittle {
        padding-left: 48px;
      }
    }
  }

  .content {
    position: relative;
    margin: $app-bar-height 0 0 0;
    width: 100%;
    min-height: calc(100vh - #{$app-bar-height});
    display: flex;

    > div {
      width: 100%;
    }
  }
  .mobile {
    background-color: red;
  }

  @include mdScreen {
    .content {
      margin: $app-bar-height auto 0 auto;
    }
    .app-bar {
      width: calc(100% - #{$drawer-width});

      .nav-icon {
        display: none;
      }
    }
  }

}

.menu-drawer {
  &.mobile-drawer {
    width: 100vw;

    nav {
      width: 100vw;

      .nav-header-title {
        font-size: 1.3rem;
      }
    }

    .nav-close-icon {
      position: absolute;
      right: 0;
      padding: 10px;
      top: 0;
      z-index: 2;
    }

  }

  &.permament-drawer {
    width: $drawer-width;
    display: none;
    background-color: white;
  }

  .menu-drawer-content {
    width: $drawer-width;
  }


  @include mdScreen {
    &.permament-drawer {
      display: block;
    }
  }
}