//$primary-color: #3f51b5;

$success-color: #54ab5d;
$error-color: #c4312b;

$darken-percentage: 10%;

$background-primary-color: #f6f6f6;
$border-color: rgba(grey, 0.2);

$box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);

$primary-light: #ef5350;
$primary-main: #e53935;
$primary-dark: #c62828;
$primary-text: #fff;

$secondary-light: #ffa726;
$secondary-main: #fb8c00;
$secondary-dark: #ef6c00;
$secondary-text: white;

:export {
  primaryLight: $primary-light;
  primaryMain: $primary-main;
  primaryDark: $primary-dark;
  primaryText: $primary-text;

  secondaryLight: $secondary-light;
  secondaryMain: $secondary-main;
  secondaryDark: $secondary-dark;
  secondaryText: $secondary-text;
}
