$sm-screen-min-width: 48rem; //672px
$md-screen-min-width: 64rem; //868px
$lg-screen-min-width: 75rem; //1050px
$xl-screen-min-width: 100rem; //1400px

$container-padding: 1rem;
$container-margin: 1rem