@import '~styles/mixins';
@import '~styles/variables';
@import '~styles/colors';
.user-menu {
  width: 100%;
  padding: 1 * $container-padding;
  display: flex;
  flex-direction: column;
  background-color: $primary-main;
  position: relative;
  height: 180px;
  min-height: 180px;
  max-height: 180px;

  .user-avatar {
    margin: $container-margin auto;
  }

  .rocket-background {
    position: absolute;
    margin-left: 0;
  }

  .user-avatar-background {
    width: 100%;
    position: absolute;
    height: 120%;
    opacity: 0.1;
    top: -20%;
    left: 0;
    display: none;
  }

  .user-details {
    user-select: none;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;

    > p {
      margin-bottom: 0;
    }
  }

  @include mdScreen {
    .rocket-background {
      transform: scale(0.6);
      margin-left: -15px;
    }
  }

  @include lgScreen {
    .rocket-background {
      transform: scale(0.8);
    }
  }

  @include xlScreen {
    .rocket-background {
      transform: scale(1);
      margin-left: 5px;
    }
  }
}


.menu-list-item {
  border-bottom: 1px solid #F5F5F5 !important;

  h3 {
    font-weight: 400 !important;
    color: #757575;
  }
}
