@import '~styles/variables';
@import '~styles/mixins';

$stepper-height: 70px;

.make-test-form {
  //min-height: 100vh;

  padding: 0;

  > div.card-content {
    padding: 0;
    height: 100%;
    margin-bottom: $stepper-height;
  }

  .test-stepper-wrapper {
    height: $stepper-height;
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    .test-stepper {
      padding: 0;

      button {
        min-height: $stepper-height;
      }
    }
  }
}

//hack to work
.mobile-streams-list {
  height: 100%;
  margin-bottom: $stepper-height;
  > div {
    display: flex;
    height: 100%;

    > div {
      position: relative;
      transition-property: transform;
    }
  }
}

@include mdScreen {
  .make-test-form {
    .test-stepper-wrapper {
      height: $stepper-height;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}
