$stepper-height: 70px;

.make-test-form {
  min-height: 100vh;

  .test-stepper-wrapper {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    .test-stepper {
      padding: 0;

      button {
        min-height: $stepper-height;
      }
    }
  }

}