.test-start-view {
  min-height: 100vh;

  .test-description {
    > div {
      display: flex;

      label {
        margin: auto 0;

        &:after {
          content: ':';
          padding-right: 3px;
        }
      }
    }
  }

  .start-test-button {
    width: 100%;
  }
}