.test-summary {
  height: 100%;
  display: flex;
  flex-direction: column;



  .test-summary-content {
    flex: 1;
  }

  .test-summary-actions {
    display: flex;
    > button {
      flex: 1;
    }
  }
}