@import '~styles/mixins';
@import '~styles/variables';

.tests-form {
  min-height: 100%;
  form {
    display: flex;
    flex-direction: column;
  }

  button[type=submit] {
    width: 100%;
  }

  @include smScreen {
    min-height: auto;
  }
}

.test-question-list  {
  > ul {
    border-top: $container-border;
    > li {
      padding: 0;
    }
  }


  .selected-question-chips {
    max-height: 60px;
    overflow-y: auto;
  }
}